<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            {% if current_user.is_anonymous %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}">Register/Login</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% endif %}
        </ul>
        <span class="navbar-text">
            Welcome to Slacked Overflow
        </span>
    </div>
</nav>